* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #e9e9e9;
    margin: 0;
}

h1 {
    align-self: center;
    color: #fb5165;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1vmin;
}

#canvas {
    background-color: white;
    display: flex;
    flex: 0 0 1;
    width: 80vmin;
    height: 80vmin;
}

#tools {
    display: flex;
    flex-flow: column;
    gap: 0.5vmin;
}

#grid-element:hover {
    background-color: lightblue;
}

.active {
    background-color: lightblue;
}

button {
    font-size: large;
    font-weight: bold;
    color: #655745;
    border: 1px solid rgb(97, 97, 121);
    border-radius: 10px;
    background-color: rgb(253, 247, 230);
}
